<div style="background: pink; max-width: 1080px; width: 100%; margin: 0 auto;">
    <h1 style="margin-left: 50%; transform: translateX(-30%);">USER ERROR SIGN-IN</h1>
    <br>
    <a href= '/api/auth/login'><button style="width: 110px; margin-left: 50%; margin-bottom: 5%; transform: translateX(-50%);">Ir a Login</button></a>
</div>