<h1 id="cabecera">Bienvenid@ <label id="nombre", name="{{nombre}}">{{nombre}}</label></h1>
<form id="form-logout">
    <button type="submit">Logout</button>
</form>
<h1>Detalle Productos</h1>
<form id="form-producto" action="/api/productos" method="post">
    <input type="text", name="title", required, placeholder="Nombre">
    <input type="number", name="price", required, placeholder="Precio">
    <input type="number", name="stock", required, placeholder="Stock">
    <input type="text", name="imagen", required, placeholder="URL Imagen">
    <button type="submit">Enviar</button>
</form>
<br>
<br>
<table id="tabla-productos">
    
</table>
<br>
<br>
<h1>Chat Comunidad</h1>
<p id="porcentaje">
</p>
<form id="form-message">
    <input type="email" name="email" id="input-email" placeholder="Ingresa tu E-mail" required>
    <input type="text" name="firstName" id="input-firstName" placeholder="Nombre..." required>
    <input type="text" name="lastName" id="input-lastName" placeholder="Apellido..." required>
    <input type="number" name="edad" id="input-edad" placeholder="Edad..." required>
    <input type="text" name="alias" id="input-alias" placeholder="Alias..." required>
    <input type="text" name="avatar" id="input-avatar" placeholder="URL Avatar..." required>
    <input type="text" name="message" id="input-message" placeholder="Ingresa mensaje..." required>
    <button type="submit">Enviar</button>
</form>
<ul id="list-messages">
</ul>