<h1>Login</h1>
<form id="form-login" action="/api/auth/sign-in" method="post">
    <input type="text", name="mail", required, placeholder="Nombre de usuario">
    <input type="password" name="password", required, placeholder="Contraseña">
    <button type="submit">Enviar</button>
</form>
<br>
<br>
<a href= '/api/auth/registro'><button>Crear Registro</button></a>