<h1>Registro</h1>
<form id="form-login" action="http://localhost:8080/api/auth/sign-up" method="post">
    <input type="text", name="mail", required, placeholder="Nombre de usuario">
    <input type="password" name="password", required, placeholder="Contraseña">
    <button type="submit">Enviar</button>
</form>
<br>
<br>
<a href= 'http://localhost:8080/api/auth/login'><button>Ir a Login</button></a>